<h1>Lexter Page Report</h1>

<div class="wrap_word_count">

    <h2>report for page at:  <a href="<%= report.href %>"><%= report.href %></a></h2>

    <ul>

        <li>#<%= index + 1 %></li>
        <li>href: <a href="<%= report.href %>"><%= report.href %></a></li>
        <li>word count: <%= report.wordCount %></li>

    </ul>

</div>