
<div class="wrap_lexter">

    <h1>Lexter Page Report</h1>


    <h2>report for page at:  <a href="<%= report.href %>"><%= report.href %></a></h2>

    <ul>

        <li>href: <a href="<%= report.href %>"><%= report.href %></a></li>
        <li>text: <%= report.text %></li>
        <li>tokens: <%= report.tokens %></li>
        <li>word count: <%= report.wordCount %></li>

    </ul>

</div>